.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine !important;
    border-color: darkgreen !important;
    
    
}

.navf{
    font-size: 30px !important;
}

.container{
    
}

.body{
background-color: #E9ECEF !important;
}

.jumbotron{
    text-align: center;
    background-color: azure !important;
    border-color: aquamarine !important ; 
    border: 1px solid !important;

}

.btnk{
    background-color: aquamarine !important;
}

.urun{
    text-align: center;
}
.fit{
    object-fit: contain;
}

.cardp{
    text-align: center;
}

.tags{
    text-align: center;
    border-color: aquamarine !important;
}

.baslik{
    text-align: center;
    color:darkgreen;
    align-items: center !important;
    display: flex;
}

.about{
    text-align: center;
    color: darkgreen;
}